* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}

.d-space-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-20 {
  padding: 20px;
}

.toolbarWrap {
  height: 8vh;
  background-color: rgb(44, 45, 47);
  padding: 0 10px;

}

.toolbarWrap img {
  height: 100%;
  cursor: pointer;
}

.toolbarWrap h3 {
  margin: 0 10px;
}

.toolbarFavLength {
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #32B579;
  color: white;
}

.createRecipeWrap {
  height: 92vh;
  background: url("https://wallpaperaccess.com/full/1092587.jpg");
  background-size: cover;
  display: flex;
}

.breadCrumb {
  color: white;
  position: relative;
  justify-content: flex-start;
  width: fit-content;
}

.breadCrumb:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.breadCrumb:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.breadCrumb p {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.formWrap {
  height: 90%;
  width: 100%;
}

.formInner {
  height: 110%;
  width: 50%;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(38, 80, 239, 0.12) 0 7px 14px 0, rgba(0, 0, 0, 0.12) 0 3px 6px 0;
  justify-content: space-between;
  align-items: stretch;
}

.formInner p {
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
  font-weight: 700;
}

.formInner input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 70%;
  min-height: 40px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.formInner label {
  text-align: left;
  font-size: 16px;
  color: black;
  margin: 2px;
}

.formInner button {
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background: linear-gradient(90deg, rgba(136,43,124,1) 0%, rgba(27,24,249,0.7542367288712359) 100%);
  border-radius: 10px;
}

.inputWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrap button {
  border: none;
  padding: 10px 20px;
  margin-left: 5px;
}

.createIngredientStyleWrap {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.createIngredientStyle {
  background-color: #ea0000;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

.createIngredientStyle p {
  font-size: 12px;
  color: white;
}

.mainPageStyle {
  height: 92vh;
  background: url("https://wallpaperaccess.com/full/2180133.jpg");
  background-size: cover;
}

.filterToolbarStyle {
  height: 13vh;
  background-color: gray;
}

.mainPageMapWrap {
  height: 92vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mainPageMapWrap > h1 {
  text-align: center;
  color: white;
  padding: 10px 0;
}

.filterWrap {
  height: 13vh;
  background-color: #30418f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filterWrap input {
  height: 50px;
  border: none;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
}

.filterWrap label {
  color: white;
}

.filterWrap button {
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background: black;
  border-radius: 10px;
}

.recipeListCardWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recipeListCard {
  height: 450px;
  width: 300px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  color: white;
}

.recipeListCard img {
  height: 30%;
}

.recipeListCard > h1 {
  text-align: center;
}

.recipeListCard button {
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background: black;
  border-radius: 10px;
}

.favouritesPageWrap {
  height: 92vh;
  background: url("https://wallpaperaccess.com/full/1155029.jpg");
  background-size: cover;
  display: flex;
  padding: 20px;
}

.favouritesPageWrap h1 {
  text-align: center;
  color: white;
}

.singleRecipePageWrap {
  min-height: 92vh;
  background: url("https://wallpaperaccess.com/full/3304507.jpg");
  background-size: cover;
  display: flex;
  padding: 20px;
}

.productPart {
  height: 70%;
  width: 100%;
  display: flex;
  color: white;
}

.grow1 {
  flex: 1;
}

.slider {
  display: grid;
  place-items: center;
}

.productInfo {
  display: flex;
  justify-content: space-evenly;
}

.productInfo h2 {
  text-align: center;
}

.productInfo button {
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background: black;
  border-radius: 10px;
}

.ingredientsInner {
  background: #1a1f36;
  border-radius: 10px;
}

.stepsInner {
  background: #30418f;
  border-radius: 10px;
}



.createReview {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.reviewInput {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.reviewInput input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 80%;
  min-height: 40px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.reviewInput button {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background: linear-gradient(90deg, rgba(136,43,124,1) 0%, rgba(27,24,249,0.7542367288712359) 100%);
  border-radius: 10px;
  margin-right: 20px;
}

.reviewCommentWrap {
  width: 60%;
  height: 400px;
  padding: 10px;
  overflow: auto;
  text-align: left;
  color: white;
  margin: 10px 0;
}

.textArea {
  margin-top: 5px;
  width: 90%;
  min-height: 50px;
  background-color: #1a1f36;
  padding: 10px;
  border-radius: 10px;
}

.mb-10 {
  margin-bottom: 10px
}